
/*@font-face {
  font-family: 'iconfont';  /* project id 278457 */
  /*src: url('//at.alicdn.com/t/font_amreaqw718ld6lxr.eot');
  src: url('//at.alicdn.com/t/font_amreaqw718ld6lxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_amreaqw718ld6lxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_amreaqw718ld6lxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_amreaqw718ld6lxr.svg#iconfont') format('svg');
}*/

@font-face {
  font-family: 'iconfont';  /* project id 134923 */
  src: url('//at.alicdn.com/t/font_1472180678_8526154.eot');
  src: url('//at.alicdn.com/t/font_1472180678_8526154.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1472180678_8526154.woff') format('woff'),
  url('//at.alicdn.com/t/font_1472180678_8526154.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1472180678_8526154.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 28px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: "\e600"; }

.icon-tip:before { content: "\e601"; }

.icon-back:before { content: "\e602"; }
/*
.icon-gerenxinxi:before { content: "\e67d"; }

.icon-xiangmujingyan:before { content: "\e67e"; }

.icon-good:before { content: "\e699"; }*/

